<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Garosa</title>
</head>

<body style="padding: 0; margin: 0; text-align: center;">
    <img src="https://lagarosa.co/img/mail_header.f1e7c9aa.png" alt="La Garosa" style="margin: auto; max-width: 100%;">

    <div style="background: white url(https://lagarosa.co/img/wheat_bg.4e65a462.png) 0 0 no-repeat padding-box;">
        <p style="font-size: 30px; color: #D84B0E; font-weight: bold;text-align: center; margin: 15px auto;">
            ¡Hola {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% endif %}!
        </p>
        <p style="font-size: 20px; max-width: 800px; text-align: justify; margin: auto 25px;">
            ¡GAROSOOOOOOOOO! Promete que seguiras escribiendonos por instagram y llamando para saludar, detrás de esta pantalla, seguimos nosotros brindándote lo mejor para ti. 
            Gracias por acompañarnos en todos nuestros pasos.
        </p>
        <p style="font-size: 20px; max-width: 800px; text-align: justify; margin: auto 25px;">
            <br/> Bienvenido a la garosa, aún nos falta un pequeño paso. <br />
            Para completar el proceso, por favor verifica tu cuenta entrando <a href="{{ verification_url }}" target="_blank" rel="noopener noreferrer">aquí.</a>
        </p>

        <p style="font-size: 15px; color: #424242; text-align: center; max-width: 800px;">
            Síguenos en nuestras redes sociales y entérate de nuestras nuevas adiciones al menú.
        </p>
        <div style="font-size: 48px; text-align: center;">
            <a href="https://www.facebook.com/lagarosa" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #F9C9A5;">
                <img src="https://lagarosa.co/media/facebook_mail.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/la_garosa/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #F9C9A5;">
                <img src="https://lagarosa.co/media/instagram_mail.png" alt="facebook">
            </a>
        </div>
        <p style="font-size: 15px; text-align: center;">
            <a href="https://www.instagram.com/la_garosa/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #D84B0E;">
                @la_garosa
            </a>
        </p>
    </div>

</body>

</html>