<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_name}}</title>
    <style>
        .btn-primary {
            background: #D84B0E 0% 0% no-repeat padding-box;
            border-radius: 100px;
            opacity: 1;
            padding: 5px 5px;
            color: white;
        }
    </style>
</head>

<body>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <a href="{{request.scheme}}://{{request.get_host}}">
                    {{site_name}}
                </a>

                <h4>{{subject}}</h4>

                <blockquote class="quote">
                    <p>{{text}}</p>

                    <span style="margin-top: 25px;">{{name}}</span><br>
                    <span>{{email_phone}}</span>
                </blockquote>

                <a class="btn-primary" style="margin-top:15px;" href="{{request.scheme}}://{{request.get_host}}" role="button">{{site_name}}</a>
            </div>
        </div>
    </section>
</body>

</html>